VITE_API_URL=http://localhost:8000
VITE_GA_ID=G-XXXXXXXXXX

VITE_ADSENSE_CLIENT_ID=ca-pub-xxxxxxxxxxxxxxx
VITE_HOST_NAME=https://yourdomain.com

VITE_GOOGLE_CLIENT_ID="example-google-client-id.apps.googleusercontent.com"
