fastapi[standard]
uvicorn[standard]
googletrans
spacy
pydantic
pydantic-settings
python-dotenv
slowapi
loguru
motor
pymongo
supabase
python-jose[cryptography]
google-genai
deep-translator
psycopg2-binary
pyspellchecker
google-api-python-client
nltk
scikit-learn
numpy
lemminflect